.cover {
    width: 92.5%;
    height: 57.8vw;
    margin: 0 auto;
}

@media screen and (max-device-width: 1024px) {
    .cover {
        width: 100%;
        height: 62.5vw;
    }
}

@media screen and (max-device-width: 768px) {
    .cover {
        width: 100%;
        height: 62.5vw;
    }
}

@media screen and (max-device-width: 430px) {
    .cover {
        width: 100%;
        height: 62.5vw;
    }
}