/*styles for header*/
@import "header/header.css";
@import "header/__logo/header__logo.css";
@import "header/__link/header__link_en.css";
@import "header/__link/header__link_ru.css";

/*styles for lead*/
@import "lead/lead.css";
@import "lead/__title/lead__title.css";
@import "lead/__subtitle/lead__subtitle.css";
@import "lead/__img/lead__img.css";
@import "lead/__caption/lead__caption.css";

/*styles for intro*/
@import "intro/intro.css";
@import "intro/__title/intro__title.css";
@import "intro/__text/intro__text.css";
@import "intro/__list/intro__list.css";

/*styles for photo*/
@import "photo/photo.css";
@import "photo/__item/photo__item.css";

/*styles for place*/
@import "place/place.css";
@import "place/__card/place__card.css";
@import "place/__title/place__title.css";
@import "place/__img/place__img.css";
@import "place/__web/place__web.css";
@import "place/__url/place__url.css";
@import "place/__link/place__link.css";
@import "place/__text/place__text.css";
@import "place/__paragraph/place__paragraph.css";

/*styles for cover*/
@import "cover/cover.css";
@import "cover/__content/cover__content.css";
@import "cover/__title/cover__title.css";
@import "cover/__subtitle/cover__subtitle.css";
@import "cover/__img/cover__img.css";
@import "cover/__overlay/cover__overlay.css";

/*styles for footer*/
@import "footer/footer.css";
@import "footer/__links/footer__links.css";
@import "footer/__link/footer__link.css";
@import "footer/__copyright/footer__copyright.css";

/* --modifiers-- */
/*fonts*/
@import "fonts/fonts.css";

@import "modifiers/font-size/font-size_xxl.css";
@import "modifiers/font-size/font-size_xl.css";
@import "modifiers/font-size/font-size_l.css";
@import "modifiers/font-size/font-size_m.css";
@import "modifiers/font-size/font-size_s.css";
@import "modifiers/font-size/font-size__xs.css";
@import "modifiers/font-size/font-size_list.css";
@import "modifiers/font-size/font-size_place-title.css";

@import "modifiers/font-weight/font-weight_bold.css";
@import "modifiers/font-weight/font-weight_extra-bold.css";
@import "modifiers/font-weight/font-weight_normal.css";

.page {
    padding: 0;
    margin: 0 auto;
    background-color: #2A2C2F;
    font-family: inter, serif;
    color: white;
}