.place__web {
    grid-area: web;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 12px;
}

@media screen and (max-device-width: 435px) {
    .place__web {
        width: calc(100vw - 32px);
        padding-left: 16px;
        padding-right: 16px;
    }
}