.place__card {
    display: grid;
    grid-template-columns: 460px 484px;
    grid-template-rows: auto 460px;
    grid-template-areas: "title web"
                        "img text";

    row-gap: 48px;
    column-gap: 40px;
}

@media screen and (max-device-width: 1024px) {
    .place__card {
        grid-template-columns: 440px 456px;
        column-gap: 32px;
    }
}

@media screen and (max-device-width: 768px) {
    .place__card {
        grid-template-columns: 340px 352px;
        column-gap: 28px;
    }
}

@media screen and (max-device-width: 430px) {
    .place__card {
        grid-template-columns: 100vw;
        grid-template-areas: "title"
                            "web"
                            "img"
                            "text";
        grid-template-rows: auto;
        row-gap: 32px;
    }
}