.place__text {
    grid-area: text;
    display: flex;
    flex-direction: column;
    gap: 26px;
    justify-content: start;
    width: 100%;
}

@media screen and (max-device-width: 435px) {
    .place__text {
        width: calc(100vw - 32px);
        padding-left: 16px;
        padding-right: 16px;
    }
}