.place__url {
    grid-area: url;
    padding: 0;
    margin: 0;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    color: #AAA;
}

@media screen and (max-device-width: 435px) {
    .place__url {
    }
}