.place__title {
    grid-area: title;
    margin: 0;
    line-height: 76px;
}



@media screen and (max-device-width: 435px) {
    .place__title {
        width: calc(100vw - 32px);
        padding-left: 16px;
        padding-right: 16px;
        line-height: 35px;
    }
}