.photo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
    margin: 0 auto;

    max-width: 92.5%;
}

@media screen and (max-device-width: 1024px) {
    .photo {
        max-width: 90%;
        grid-template-columns: repeat(3, 1fr);

    }
}

@media screen and (max-device-width: 768px) {
    .photo {
        max-width: 93.7%;
        grid-template-columns: repeat(2, 1fr);

    }
}

@media screen and (max-device-width: 430px) {
    .photo {
        max-width: 90%;
        grid-template-columns: 1fr;

    }
}